# contain devel/production specific url
configs/geocoder.geocoder_provider.nominatim.yml
configs/geocoder.geocoder_provider.openstreetmap.yml
configs/hdl.settings.yml
configs/islandora.settings.yml
configs/islandora_iiif.settings.yml
configs/openseadragon.settings.yml
configs/search_api.server.default_solr_server.yml

# group ids
configs/key.key.arf_group_id.yml
configs/key.key.kch_group_id.yml
configs/key.key.nef_group_id.yml
